* {
    padding: 0;
    margin: 0;
}

/* navigation bar section----------------------------------------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: auto;
    min-height: 77px;
    padding: 2px 80px;
    background-color: #6B3CC9;
}

nav .logo {
    width: 239px;
    height: 36px;
    margin-top: -11px;
}

nav ul {
    list-style: none;
    display: flex;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    color: white;
    line-height: 16px;
    text-transform: uppercase;
}
nav ul li {
    margin: auto 14px;
}
/* --------------------------------------------------------------- */

/* hero section--------------------------------------------------- */
.hero {
    position: relative;
    height: 763px;
    background-color: yellowgreen;
    background-image: url('../Images/hero-section-image.jpeg');
    background-size: cover;
    background-position: left bottom;
    z-index: -1;
    top: -30px;
}

.hero-message {
    position: relative;
    width: 630px;
    height: 306px;
    top: 354px;
    left: 80px;
    padding: 24px 40px;
    /* Font----------------- */
    font-family: Inter;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2%;
    text-transform: capitalize;
    /* --------------------- */
    color: white;
    background-image: linear-gradient(to left, #1cbddb, #00c3ce, #00c7b9, #00ca9b, #4dca79);
}

/* --------------------------------------------------------------- */
